// Paths
$imageDir: '../images/';
$fontDir: '../fonts/';

// Grid
$commonWidth: 1170px;
$gutter: 15px;

// Colors
$white: #fff;
$black: #000;
$grey: #232323;
$green: #20a052;

// Font
$Geometria: 'Geometria', Arial, Tahoma, sans-serif;
