// Helpers
@import '../helpers/variables';
@import '../helpers/mixins';


.main-header {
  position: relative;
	padding: 20px 0;
  box-shadow: 0 0 33.82px 4.18px rgba(26, 26, 26, 0.17);
}

.main-header__container {
  align-items: center;
  justify-content: space-between;
  @media (max-width: 849px) {
    flex-direction: column;
  }
}

.main-header__logo-wrapper {
  width: 158px;
  height: auto;
  margin-right: 20px;
  @include breakpoint (md) {
    width: 150px;
  }
}

.main-header__logo {
  width: 100%;
  height: auto;
}

.main-header__paragraph {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  @media (max-width: 849px) {
    margin-top: 10px;
  }
  @include breakpoint (md) {
    font-size: 18px;
  }
}

.contacts {
  display: flex;
  align-items: center;
  @media (max-width: 849px) {
    flex-direction: column;
    margin-top: 10px;
  }
}

.contacts__wrapper {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  color: $grey;
  @media (max-width: 849px) {
    text-align: center;
  }
  @include breakpoint (md) {
    font-size: 16px;
  }
}

.contacts__wrapper--phone {
  flex-direction: column;
  margin-left: 25px;
  @media (max-width: 849px) {
    margin-left: 0;
  }
}

.contacts__link {
  display: block;
  margin-top: 10px;
}

.contacts__link--viber {
  width: 44px;
  height: 46px;
  background: url("../images/all/css_sprites.png") -140px -10px no-repeat;
}

.contacts__link--whatsapp {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background: url("../images/all/css_sprites.png") -140px -76px no-repeat;
}



.contacts__link--phone {
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
  @include breakpoint (md) {
    font-size: 16px;
  }
  @include breakpoint (sm) {
    display: block;
  }
}