// Helpers
@import '../helpers/variables';
@import '../helpers/mixins';


.main-content {
  flex-grow: 1;
  display: flex;
  padding: 23px 0 37px;
  background: #f2f2f2 url("../images/all/background.jpg") center right -200px no-repeat;
  background-size: cover;
  @include breakpoint (md) {
    padding: 35px 0;
    background-position: 0 0;
  }
  @media (max-width: 400px) {
    background-image: url("../images/all/background--400.jpg");
  }
}

.main-content__container {
  margin: auto;
  flex-direction: column;
}

.main-content__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.1;
  @include breakpoint (sm) {
    font-size: 32px;
    line-height: 1.3;
    text-align: center;
  }
}

.main-content__title--small {
  display: block;
  font-weight: 500;
  font-size: 30px;
  @include breakpoint (sm) {
    font-size: 28px;
  }
}

.main-content__list {
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  @include breakpoint (sm) {
    margin-top: 40px;
    font-size: 16px;
  }
}

.main-content__item:not(:first-of-type) {
  margin-top: 35px;
}

.main-content__item {
  position: relative;
  padding-left: 60px;
  &::before {
    @include pseudo();
    top: 50%;
    left: 0;
    margin-top: -22.5px;
    width: 45px;
    height: 45px;
    background: url("../images/all/css_sprites.png") no-repeat; 
  }
}

.main-content__paragraph {
  position: relative;
  width: 100%;
  max-width: 460px;
  margin-top: 20px;
  padding: 18px 15px;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: $white;
  background-color: #333333;
  &::after {
    @include pseudo();
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #333333;
  }
}

.main-content__strong {
  font-weight: 800;
}

.main-content__item--cleaning::before {
  background-position: -75px -10px;
}

.main-content__item--dry-cleaning::before {
  background-position: -10px -75px;
}

.main-content__item--legal-persons::before {
  background-position: -10px -10px;
}

.main-content__item--window-cleaning::before {
  background-position: -75px -75px;
}

.main-content__item--promotion::before {
  background-position: -140px -10px;
}

.order-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 460px;
  margin-top: 15px;
  @include breakpoint (sm) {
    max-width: 100%;
  }
}

.order-form__title {
  width: 228px;
  @include breakpoint (sm) {
    margin-bottom: 10px;
    width: 100%;
  }
}

.order-form__field {
  width: 100%;
  padding: 15px 10px 15px 20px;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid transparent;
  box-shadow: 0 0 8.01px 0.99px rgba(26, 26, 26, 0.12);
  @include placeholder {
    font-size: 18px;
    color: #858585;
  }
  @include placeholderHidden;
}

.order-form__button {
  width: 100%;
  min-width: 230px;
  margin-top: 10px;
  padding: 16px 19px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  &:hover {
    box-shadow: 0 0 15px $green;
  }
}

.order-form__field.error {
  border: 1px solid rgba(255,0,0,.5);
}

label.error {
  display: none !important;
}