// Helpers
@import '../helpers/variables';
@import '../helpers/mixins';


.main-header {
	padding: 40px 0;
  box-shadow: 0 0 33.82px 4.18px rgba(26, 26, 26, 0.17);
  @include breakpoint (lg) {
    padding: 20px;
  }
}

.main-header__container {
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1071px) {
    justify-content: center;
  }
} 

.main-header__logo-wrapper {
  margin-right: 20px;
  @include breakpoint (md) {
    width: 150px;
    height: auto;
  }
}

.main-header__logo {
  width: 100%;
  height: auto;
}

.main-header__paragraph {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  @include breakpoint (md) {
    margin-top: 10px;
    font-size: 22px;
  }
}

.contacts {
  @include breakpoint (md) {
    width: 100%;
    text-align: center;
  }
}

.contacts__link {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  @media (max-width: 1071px) {
    margin-top: 10px;
  }
  @include breakpoint (md) {
    margin: 0;
  }
}

.contacts__link--viber {
  width: 71px;
  height: 74px;
  background: url("../images/all/css_sprites.png") no-repeat;
  background-position: -10px -10px;
  @include breakpoint (md) {
    transform: scale(0.8);
  }
}

.contacts__link--whatsapp {
  width: 65px;
  height: 65px;
  background: url("../images/all/css_sprites.png") no-repeat;
  background-position: -101px -10px;
  @include breakpoint (md) {
    transform: scale(0.8);
  }
}

.contacts__link--phone {
  font-weight: 500;
  font-size: 30px;
  color: $grey;
  &:hover {
    text-decoration: underline;
  }
  @include breakpoint (md) {
    font-size: 22px;
  }
  @include breakpoint (sm) {
    display: block;
  }
}